@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #868d9d;
  
  
}
.box p{
  font-size: 80px;
  width: 330px;
  height: 50px;
  /* Centralizar na vertical e na horizontal */
  position: absolute;
  top: 56.5%;
  left: 10%;
  margin: -25px 0 0 -25px; /* aplique margens superior e esquerda negativas para centralizar de verdade o elemento */
}

.box h1{
  font-size: 60px;
  width: 330px;
  height: 50px;
  /* Centralizar na vertical e na horizontal */
  position: absolute;
  top: 37%;
  left: 12%;
  margin: -25px 0 0 -25px; /* aplique margens superior e esquerda negativas para centralizar de verdade o elemento */
}

.alert {
  background-color: #fff;
  border: 10px solid #8c91a3;
  border-width: 2px;
  width: 97%;
  height: 650px;
  margin: 30px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.alert h1{
  font-size: 100px;
  height: 50px;
  /* Centralizar na vertical e na horizontal */
  position: absolute;
  top: 35%;
  left: 35%;
  margin: -25px 0 0 -25px; /* aplique margens superior e esquerda negativas para centralizar de verdade o elemento */
  
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  border-radius: 8px;
}
/* Carrousel Vertical CSS */

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  
}

.number-slide1 {
  border: 2px solid #8c91a3;
  background-color: #fff;
  color: #000;
  height: 100px;
  width: 50px;
}

.number-slide2 {
  border: 2px solid #8c91a3;
  background-color: #fff;
  color: #000;
  height: 100px;
  width: 50px;
  
}

.number-slide3 {
  border: 2px solid #8c91a3;
  background-color: #fff;
  color: #000;
  height: 100px;
  width: 50px;
}

.number-slide4 {
  border: 2px solid #8c91a3;
  background-color: #fff;
  color: #000;
  height: 100px;
  width: 50px;
}
.number-slide5 {
  border: 2px solid #8c91a3;
  background-color: #fff;
  color: #000;
  height: 100px;
  width: 50px;
}
.number-slide6 {
  border: 2px solid #8c91a3;
  background-color: #fff;
  color: #000;
  height: 100px;
  width: 50px;

}


